# Python cache files
__pycache__/
*.py[cod]
*.pyc
*.h5

# Vierual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data files (if you are storing large datasets)
*.csv
*.tsv

# Environment variables
.env

# VS Code settings
.vscode/